/* Cases */

.case-wrapper {
    background-color: #f4f4f4;
    .accent {
        @media screen and (max-width: $breakpoint-sm) {
            display: none;
        }
    }
    .case-hero {
        min-height: 65vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f4f4f4;
        position: relative;
        @media screen and (max-width: $breakpoint-sm) {
            padding: 80px 0 40px;
        }
        .hero-text {
            width: 50%;
            margin-top: 120px;
            @media screen and (max-width: $breakpoint-sm) {
                margin-top: 0px;
                width: 75%;
            }
            span {
                display: flex;
                img {
                    margin-right: 10px;
                }
            }
            h1 {
                font-family: 'circular-bold', sans-serif;
                font-size: 52px;
                color: $black-text;
                letter-spacing: 0px;
                line-height: 62px;
                @media screen and (max-width: $breakpoint-sm) {
                    font-size: 28px;
                    letter-spacing: 0;
                    line-height: 34px;
                }
            }
            h2 {
                font-size: 20px;
                color: $black-text;
                letter-spacing: 0;
                line-height: 32px;
                @media screen and (max-width: $breakpoint-sm) {
                    font-size: 14px;
                    letter-spacing: 0;
                    line-height: 24px;
                }
            }
            h5 {
                font-family: 'circular-bold', sans-serif;
                font-size: 13px;
                color: $black-text;
                letter-spacing: 1.62px;
                line-height: 10px;
                text-transform: uppercase;
            }
        }
    }
    .case-fullwidth-image {
        height: auto;
        width: 100%;
        max-height: 650px;
        object-fit: cover;
    }
    
    .case-content {
        
        .case-text {
            padding-top: 120px;
            padding-bottom: 90px;
            @media screen and (max-width: $breakpoint-sm) {
                padding-top: 60px;
                padding-bottom: 40px;
           }
        }
        h3 {
           font-family: 'circular-bold', sans-serif;
           font-size: 38px;
           margin-bottom: 0px;
           padding: 0 40px 0;
           @media screen and (max-width: $breakpoint-sm) {
               font-size: 24px;
            }  
        }
        p {
            font-size: 18px;
            color: $black-text;
            letter-spacing: 0;
            line-height: 32px;
            margin-top: 20px;
            padding: 0 40px 20px;
            @media screen and (max-width: $breakpoint-sm) {
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0px;
            }
        }
        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #ccc;
            margin-top: 40px;
            margin-bottom: 60px;
            padding: 0;
            border-color: #d9d9d9;
        }   
        
    }   
                  
    .case-next {
        
    hr {
        margin: 80px 0;
        border-top: 1px solid #d9d9d9;
    }
    &.body {
        padding: 0px 10px;
        a {
            font-family: 'circular-bold', sans-serif;
            color: $black;
            letter-spacing: 1.62px;
            line-height: 10px;
            font-size: 12px;
        }
    }
    .case-next-wrapper {
        margin-bottom: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h5 {
            font-family: 'circular-bold', sans-serif;
            font-size: 12px;
            color: $black;
            letter-spacing: 1.09px;
            line-height: 10px;
        }
        a {
            font-family: 'circular-black', sans-serif;
            font-size: 22px;
            color: $black-text;
            letter-spacing: -1px;
            line-height: 28px;
            margin: 30px 0;
            text-align: center;
            max-width: 400px;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
          }
         .img-arrow-right {
            transition: all 0.4s ease;
            &:hover {
                margin-left: 12px;
            }
          }  
       }
    }
    
    
    
    
    
    
    
    
}    
          